{
    "plugins": [
        ["import", [{
                "libraryName": "@fmd/component-pro",
                "style": "css"
            },
            {
                "libraryName": "@fmd/component-pro-view",
                "style": "css"
            }]
        ]
    ]
}