{
  "plugins": [
    ["import", {
        "libraryName": "@fmd/component-pro",
        "style": "css"
      },
      "component-pro"
    ],
    ["import", {
        "libraryName": "@fmd/component-pro-view",
        "style": "css"
      },
      "component-pro-view"
    ]
  ]
}
