.addForm {
  background-color: white;
  padding: 30px 0 15px 0;
}

.submitButtons {
  display: block;
  white-space: nowrap;
  margin-bottom: 24px;
}

@media screen and (max-width: $screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: $screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }

  .ant-table {
    width: 100%;
    overflow-x: auto;
  }
}
