<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登陆页</title>
    <link rel="stylesheet" href="login/index.css">
    <link rel="shortcut icon" href="@global/images/favicon.ico">
</head>
<body>
    <div id="root"></div>
    <script src="@global/fm/base.js"></script>
    <script src="vendor.js"></script>
    <script src="fmd.js"></script>
    <script src="login/index.js"></script>
</body>
</html>