/**
 *@author zhaojian
 *@date 2019/2/28
 *@Description:
 */
.nav-description{
  background-color: #fff;
  padding: 0 24px 16px 24px;
  h1{
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
  }
  p{

  }
}